h1 {
    padding: 5px;
}

.error{
    color: red;
    font-weight: bold;
    /* border: 1px dotted red; */
}

.message-validation{
    background-color: green;
    color: white;
    padding: 5px 12px;
}